.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* App */

.app {
  background-color: rgb(255, 99, 71);
  height: 100%;
  width: 100%;
  min-width: 300px;
}

/* Clock  */

.clock {
  margin: 5%;
}

#pomo-period {
  margin: 3px;
}

.clock-opts {
  padding: 5%;
  width: 75%;
  border: turquoise;
  border-style: solid;
  border-width: 5px;
}

/* About */

.about-container {
  display: flex;
  flex-direction: column;
  border: steelblue;
  border-style: solid;
  width: 60%;
  padding: 1%;
}

/* Alert */

.alert {
  background-color: rgb(32, 163, 49);
  padding: 1vh;
  border-radius: 5px;
  max-width: 500px;
  min-width: 233px;
  margin: 2vh;
}

/* Tasks */

.btn {
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
}

.med-btn {
  width: 10vh;
  height: 4vh;
}

.lrg-btn {
  width: 12vh;
  height: 5vh;
  padding: 1%;
}

#title {
  font-size: x-large;
  margin: 5%;
}

li {
  margin: 5px;
  font-size: large;
}

p {
  font-size: large;
}

.mrgn {
  margin: 3vh;
}
