.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* App */

.app {
  background-color:rgb(255, 99, 71);
  height: 100%;
  width: 100%;
}



/* Clock  */


.clock {
  margin: 5%;

}

.clock-opts {
  padding: 5%;
  width: 75%;
  border: turquoise;
  border-style: solid;
  border-width: 5px;  
}


/* About */

.about-container {
  display: flex;
  flex-direction: column;
  border: steelblue;
  border-style: solid;
  width: 60%;
  padding: 1%;


}

/* Alert */

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 163, 49);
  padding: 1vh;
  border-radius: 5px;
}
 
#title {
  font-size: x-large;
  margin: 5%;
}

li {
  margin: 5px;
  font-size: large;
}

p {
  font-size: large;
}